.Rproj.user
.Rhistory
inst/doc
*.DS_Store
*.Rproj
.git_old
.vscode/*
.Rprofile
docs
codecov.yml
pkgdown
cell_rna*
README_files
README.html
# rendered vignettes (build artifacts; only the .Rmd is tracked)
vignettes/articles/*.html
vignettes/articles/*_files/
vignettes/articles/*_cache/
